*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

address {
	font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

button {
	border-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.body {
	font-family: 'Montserrat', san-serif;
	color: #111111;
	background-color: #FAFAFA;
	max-width: 1200px;
	/* width: 100%; */
	margin: 0 auto;
}

.section-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: -0.03em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.section-title span {
	font-weight: 800;
	color: #FD9222;
}

.section-subtitle {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
	text-align: left;
}

.section-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.29;
	letter-spacing: -0.02em;
}

.container {
	max-width: 1136px;
	margin: 0 auto;
}

.header {
	padding-top: 24px;
	padding-bottom: 32px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-nav-logo {
	display: block;
	margin-right: 413px;
}

.header-nav-logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
}


.header-nav-logo-name {
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: -0.03em;
}

.header-nav-logo-italic {
	font-style: italic;
}

.header-nav-logo-img {
	display: block;
}

.header-nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 90px;
}

.header-nav-item:not(:last-child) {
	margin-right: 24px;
}

.header-nav-item {
	display: block;
}


.header-nav-link {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: -0.02em;
}


.header-soc-list {
	display: flex;
	align-items: center;
	justify-content: center;

}

.header-soc-item {
	display: block;
	max-width: 24px;
	width: 100%;
	max-height: 24px;
	height: 100%;
}

.header-soc-item:not(:last-child) {
	margin-right: 14px;
}

.header-soc-link {}

.header-soc-icon {}

.icon:hover path {
	stroke: #FD9222;
}

.hero {
	max-width: 1136px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: #11111199;
	padding: 381px 40px 40px 40px;
	border-radius: 30px;
	margin-bottom: 80px;
}

.hero-title {
	max-width: 490px;
	color: #FFF;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.21;
	letter-spacing: -0.02em;
	margin-bottom: 32px;
}

.hero-btn {
	display: flex;
	justify-content: space-evenly;

}

.hero-btn-buy {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.21;
	letter-spacing: 0.02em;
	margin-right: 14px;
	padding: 14px 40px 14px 40px;

}

.btn-fill {
	display: block;
	color: #FFF;
	background-color: #FD9222;
	border: 1px solid transparent;
	border-radius: 100px;
	text-wrap: nowrap;
}


.hero-btn-made {
	padding: 14px 40px 14px 40px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.21;
	letter-spacing: 0.02em;
	color: #FFF;
	margin-right: 585px;
}

.btn-transparent {
	display: block;
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	padding: 14px 40px 14px 40px;
	text-wrap: nowrap;
}

.hero-btn-down {
	display: flex;
	align-items: center;
}


.hero-btn-down:hover .hero-btn-text {
	color: #FD9222;
}

.hero-btn-down:hover .hero-btn-arrow {
	stroke: #FFF;
	background-color: #FD9222;
	border-radius: 100%;
}

.hero-btn-text {
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: -0.03em;
	color: #FFFFFF;
	margin-right: 14px;
}

.hero-btn-scroll {
	background-image: url(../images/ellipse.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.hero-btn-circle {}

.hero-btn-arrow {}

.hero-btn-arrow {}

/*  feachers ________________________________________________*/
.feachers {
	background: #1E1823;
	margin-bottom: 120px;
}

.feachers-list {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.feachers-item {
	display: flex;
	flex-direction: column;
	max-width: 308px;
	width: 100%;
	margin-right: 88px;
}

.feachers-item:last-child {
	margin-right: 0;
}

.feachers-subtitle {
	color: #FFFFFF;
	line-height: 1.22;
	margin-bottom: 18px;
}

.feachers-text {
	color: #FFFFFFB2;
}

.taste {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 120px;
}

.taste-title {
	max-width: 412px;
	width: 100%;
	margin-bottom: 28px;
}

.taste-text {
	max-width: 486px;
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}

.taste-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 24px;
}

.taste-item {
	border-radius: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 28px 23px 28px 23px;
	max-width: 260px;
	/* width: 100%; */
	max-height: 270px;
	/* height: 100%; */
}

.taste-item-text {
	text-align: left;
}

.taste-img {
	margin-bottom: 36px;
	max-width: 214px;
	width: 100%;
	max-height: 160px;
	height: 100%;
}


.cacao {
	color: #fff;
	background-color: #FD9222;
}

.nuts {
	color: #fff;
	background-color: #1E1823;
}

.other {
	border: 1px solid #FD9222;
	background-color: #FFFFFF;
}

.made {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.made-title {
	margin-bottom: 50px;
}

.made-main-part {
	display: flex;
	justify-content: center;
}

.made-img {
	margin-right: 52px;
}

.made-slave-part {
	padding: 32px;
	background-color: #FFFFFF;
	border-radius: 15px;
}

.made-subtitle {
	letter-spacing: -0.02em;
	text-align: left;
	margin-bottom: 28px;
}

.made-list {
	list-style: disc;
	padding-left: 16px;

}

.made-item {
	margin-top: 24px;
}

.made-item:nth-child(1) {
	margin-top: 0;
}

.made-text {}


.product {
	margin-bottom: 120px;
}

.product-title {}

.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 24px;
	column-gap: 18px;
}

.product-item {
	border: 1px solid #1111111A;
	border-radius: 15px;
	background-color: #fff;
	width: 270px;
	height: 364px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 20px;
}

.product-img {
	margin-bottom: 8px;
}

.product-subtitle {
	text-transform: uppercase;
}

.product-text {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: -0.02em;
	text-align: left;
	color: #111111B2;
	margin-bottom: 18px;
}

.product-btn {
	font-family: 'Montserrat', san-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.21;
	letter-spacing: -0.02em;
	text-align: left;
	color: #111111;
	background-color: #FAFAFA;
	border: 1px solid #1111111A;
	border-radius: 100px;
}


.sellers {
	margin-bottom: 120px;
}

.sellers-title {}

.sellers-list {
	display: flex;
	justify-content: space-between;
	column-gap: 16px;
}

.sellers-item {
	width: 368px;
	height: 544px;
	border-radius: 15px;
	background-color: #fff;
	border: 1px solid #1111111A;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sellers-img {
	width: 368px;
	height: 464px;
	margin-bottom: 28px;
}

.sellers-subtitle {
	letter-spacing: -0.02em;
}

.loved {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loved-title {}

.loved-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	column-gap: 28px;
}

.loved-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	border: 1px solid #1111111A;
	box-shadow: 0px 9px 100px 0px #11111108;
	background-color: #FFFFFF;
	max-width: 360px;
	width: 100%;
	padding: 0 24px 24px 24px;
}

.loved-img {
	margin-bottom: -18px;
	border-radius: 100%;
}

.loved-img {
	transform: translate(0, -40px);
}


.loved-subtitle {
	margin-bottom: 24px;
	text-align: center;
}

.loved-text {
	max-width: 312px;
	width: 100%;
	letter-spacing: -0.02em;
	text-align: center;
}

.loved-btn {
	font-family: inherit;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	letter-spacing: 0.02em;
	text-align: left;
	border: 1px solid #FD9222;
	border-radius: 100px;
	background-color: transparent;
	padding: 14px 40px;
	text-wrap: nowrap;
}

.footer {
	color: #FFFFFF;
	background-color: #1E1823;
	width: 100%;
	padding: 50px 32px;
}

.footer-main-part {
	display: flex;
	margin-bottom: 54px;
}

.footer-title {
	font-size: 28px;
	font-weight: 500;
	line-height: 34px;
	letter-spacing: -0.02em;
	width: 300px;
	margin-right: 510px;
	text-align: left;
}

.footer-title span {
	color: #FD9222;
}

.footer-soc-part {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.footer-subtitle {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	text-align: left;
	margin-bottom: 14px;
}


.footer-soc-list {
	display: flex;
}

.footer-soc-item:not(:last-child) {
	margin-right: 14px;
}

.footer-soc-link {}

.footer-soc-icon path {
	stroke: #ffffff;
}

.footer-adr-part {}

.footer-address-list {}

.footer-address-item:not(:last-child) {
	margin-bottom: 4px;
}

.footer-address-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-align: center;
}

.footer-line {
	width: 1136px;
	height: 1px;
	margin-bottom: 24px;
}

.footer-slave-part {
	display: flex;
	align-items: center;
}

.footer-menu-nav {
	margin-right: 358px;

}



.footer-menu-list {
	display: flex;

}

.footer-menu-item:not(:last-child) {
	margin-right: 24px;
}

.footer-menu-link {
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: -0.02em;
	text-align: left;
}

.footer-input {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.22;
	letter-spacing: -0.02em;
	text-align: left;
	color: #FFFFFF4D;
	background-color: transparent;
	border: 1px solid #FFFFFF26;
	border-radius: 30px;
	padding: 14px 24px;
	margin-right: 8px;
}

.footer-btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.21;
	letter-spacing: 0em;
	text-align: left;
	padding: 17px 40px;
	border-radius: 30px;
}